---
title: Lake County Adventures
---

<% content_for :hero do %>
    <div class="hero">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1><span>l C</span><br>Adventures.</h1>
            </div>
            <div class="mouse">
                <span></span>
            </div> 
        </div>
    </div>
<% end %>

<% content_for :hero do %>
    <video id="intro" autoplay="" loop="" class="bgwidth"> <!-- style="display:none" -->
        <source src="http://joyridetacohouse.com/wp-content/themes/joyride/video/joyride.webm" type="video/webm;">
        <source src="http://joyridetacohouse.com/wp-content/themes/joyride/video/joyride.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
    </video>
<% end %>

<div class="row content">
    <div>
        <h1 class="sec01">Section 01</h1>
        <p>
            <%= lorem.sentences 15 %>
        </p>
    </div>
   

    <div class="fade">
        <h1 class="sec02">Section 02</h1>
        <p>
            <%= lorem.sentences 10 %>
        </p>
     </div>

     <div class="fade">
        <h1 class="sec03">Section 03</h1>
        <p> 
            <%= lorem.sentences 10 %>
        </p>
    </div>

    <div class="fade">
        <h1 class="sec04">Section 04</h1>
        <p>
            <%= lorem.sentences 16 %>  
        </p>
    </div>
</div>





